
@{
    ViewBag.Title = "Exam";
}

<p>姓名:楊舒語</p>
<p>學號:410921896</p>
<p>喜歡的水果:</p>

@{
    List<string> lst = new List<string>() { "蘋果", "香蕉", "荔枝","鳳梨", "西瓜" };
}
<div>
        
            <ol>
                @foreach (var item in lst)
                {
                    <li>
                        @item
                    </li>
                }
                </ol>
                



</div>




